@model StrumentoMusicale

<div class="container">
    <div class="row ">
        <div class="col-12 col-lg-6">
            <div class="d-flex text-center">
                <h1 class="mt-3 mb-3">Dettagli Strumento</h1>
            </div>
            <div class="card shadow p-3 mb-5 bg-white rounded border border-dark" style="width: 80%;">
                
                <img src="@Model.Foto" class="card-img-top" height="400" width="500">
                <div class="card-body">
                    <h4 class="card-title">
                        <strong>Nome Strumento:</strong>
                        @Model.Nome
                    </h4> 
                    <h4>
                        <strong>Contenuto:</strong>
                        @Model.Descrizione  
                    </h4>
                     <h4>
                        <strong>Prezzo:</strong>
                        @Model.Prezzo &euro;
                    </h4>
                     <h4>
                        <strong>Quantità:</strong>
                        @Model.QuantitaStrumento
                    </h4>
                    <h4>
                    <strong>Categoria:</strong>
                        @if(Model.Categoria != null)
                        {
                            <span>@Model.Categoria.nomeCategoria</span>
                        }else
                        {
                            <span>Nessuna Categoria Associata</span>
                        }
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <h1 class="mt-3 mb-3">Tabella Rifornimenti</h1>
            <!--Se non ci sono richieste restituisce H2 altrimenti una table dei rifornimenti effettuati-->
            @if(@Model.Rifornisci == null)
            {
                <h3 class="text-uppercase">Non ci sono rifornimenti</h3>
            }
            else
            {
                <table class="table align-right">
                    <thead>
                        <tr>
                        <th scope="col">Nome Rifornitore</th>
                        <th scope="col">Quantita</th>
                        <th scope="col">Data</th>
                        <th scope="col">Nome Strumento</th>
                        <th scope="col">Prezzo</th>
                        </tr>
                    </thead>
                    <tbody>
        
                @foreach(Rifornisci rifornimento in Model.Rifornisci)
                {
                    <tr>
                        <td class="align-middle">@rifornimento.Nome</td>
                        <td class="align-middle">@rifornimento.Quantita</td>
                        <td class="align-middle">@rifornimento.Data</td>
                        <td class="align-middle">@rifornimento.strumentoMusicale.Nome</td>
                        <td class="align-middle">@rifornimento.strumentoMusicale.Prezzo</td>
                    </tr>
                }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

