@model StrumentoMusicale

<div class="container justify-content-center">
    <div class="row">
        <div class="col-lg-4 col-12">
            <div class="d-flex align-items-center">
                <h1 class="mt-3 mb-3">Dettagli Strumento</h1>
            </div>
            <div class="post-single-image-container">
                <img src="@Model.Foto" height="500" width="600">
            </div>
            <h4>
                <strong>Nome Strumento:</strong>
                @Model.Nome
            </h4>
            <h4>
                <strong>Contenuto:</strong>
                @Model.Descrizione  
            </h4>
             <h4>
                <strong>Prezzo:</strong>
                @Model.Prezzo &euro;
            </h4>
             <h4>
                <strong>Quantità:</strong>
                @Model.QuantitaStrumento
            </h4>
            <h4>
            <strong>Categoria:</strong>
                @if(Model.Categoria != null)
                {
                    <span>@Model.Categoria.nomeCategoria</span>
                }else
                {
                    <span>Nessuna Categoria Associata</span>
                }
            </h4>
        </div>
        <div class="col-lg-4 col-12">
            <h3>Tabella Rifornimenti</h3>
            <!--Se non ci sono richieste restituisce H2 altrimenti una table dei rifornimenti effettuati-->
            @if(@Model.Rifornisci.Count == 0)
            {
                <h2 class="text-warning text-uppercase">non ci sono richieste sui pacchetti</h2>
            }
            else
            {
                <table class="table align-middle">
                    <thead>
                        <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Quantita</th>
                        <th scope="col">Data</th>
                        </tr>
                    </thead>
                    <tbody>
        
                @foreach(Rifornisci rifornimento in Model.Rifornisci)
                {
                    <tr>
                        <td class="align-middle">@rifornimento.Nome</td>
                        <td class="align-middle">@rifornimento.Quantita</td>
                        <td class="align-middle">@rifornimento.Data</td>
                        <td class="align-middle">@rifornimento.strumentoMusicale</td>
                    </tr>
                }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

